body{
    font-family: monospace;
    font-weight: bold;
    margin:0;
    background-color: #e5ece9;
    text-shadow: 5px 10px 15px hsl(0, 0%, 53%);
}

#center-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#center-container h1{
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 30px;
    margin-left:260px;
}

#content{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center
}

#colorPicker{
    border: none;
    border-radius: 50%;
    width: 100px;
    height:100px;
    cursor: pointer;
    box-shadow: 20 20;
}

#colorPicker:hover{
    transform: scale(1.1);
}

#controls{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    gap:20px
}

#controls button{
    border: none;
    border-radius: 10px;
    font-size:1.7rem;
    width:fit-content;
    padding:10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow:10px 10px 20px hsla(0, 0%, 0%, 0.753);
    font-weight: bold;
    background-color:#969a97;
}

input[type = "range"]{
    accent-color: black ;
}

#controls button:hover{
    transform: scale(1.1);

}

#grid-container{
    max-width: 600px;
    max-height: 600px;
    border: 3px solid black;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0;

}

#gridValue, label{
    font-size: 1.5rem;
    border-radius: 20px;
}

.gridSize{
    font-size: 1.5rem;
    background-color: white;
    color: black;
}



